@import url("https://use.typekit.net/tws1qrr.css");
body {
  background-color: black !important;
}

.col-gray {
  background-color: #484848;
  background-size: 100% 100%;
}

.button-gray {
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1em;
  background-color: #666666;
  color: white;
  margin: 5px 0;
}

.inputs-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inputs-col-2 input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  max-width: 70px;
  margin: 5px 5px;
}

.inputs-col-2 input::-webkit-input-placeholder {
  color: white;
  font-size: 0.8em;
}

.inputs-col-2 input:-ms-input-placeholder {
  color: white;
  font-size: 0.8em;
}

.inputs-col-2 input::-ms-input-placeholder {
  color: white;
  font-size: 0.8em;
}

.inputs-col-2 input::placeholder {
  color: white;
  font-size: 0.8em;
}

.slider {
  width: 100% !important;
}

#slider-outer-div {
  width: 100%;
  padding: 8px;
}

#slider-outer-div .slider-handle.round {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(to bottom, white, white);
  width: 25px !important;
  height: 25px !important;
}

#slider-outer-div .slider-track {
  height: 4px !important;
  margin-top: -1px !important;
}

.date-col-2 {
  color: white;
  font-size: 0.9em;
  line-height: 1;
  text-align: center;
  margin: 10px 0;
}

.data {
  margin: 10px 0;
}

.data h2 {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.data p {
  color: #c0c0c0;
  font-size: 0.7em;
  margin: 0;
  text-align: center;
}

.col-title {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-col-10 {
  font-size: 2em;
  font-weight: 600;
  color: white;
  margin: auto 0;
}

.row h3 {
  color: white;
  font-size: 1em;
  font-weight: normal;
}

.row .col-6.col-gray {
  width: calc(50% - 1.5rem) !important;
}

canvas {
  width: 100%;
}

.boxes .light-blue {
  background-color: #6FAEDD;
  height: 50%;
}

.boxes .dark-blue {
  background-color: #3B5B77;
}

.boxes .mid-blue {
  background-color: #6F9EDB;
}

.boxes .mid-green {
  background-color: #317266;
}

.boxes .dark-green {
  background-color: #315F59;
}

.boxes .light-green {
  background-color: #4AC5BB;
}

.boxes .dark-yellow {
  background-color: #FCB714;
  height: 50%;
}

.boxes .light-yellow {
  background-color: #FEE266;
}

.boxes .dark-brown {
  background-color: #716557;
}

.boxes .light-brown {
  background-color: #C4B07B;
}

.boxes .orange {
  background-color: #F15628;
}

.boxes .col-5 .box, .boxes .col-2 .box {
  height: 100%;
}

.boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.boxes h4 {
  font-size: 0.8em;
  max-width: 100%;
}

.boxes p {
  font-size: 0.8em;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */