@import './global.scss';

body{
    background-color: black !important;
}
.col-gray{
    background-color: $background-color;
    background-size: 100% 100%;
}

// First column
.button-gray{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1em;
    background-color: #666666;
    color: white;
    margin: 5px 0;
}
.inputs-col-2{
    display: flex;
    flex-direction: row;
    input{
        background-color: transparent;
        border: 1px solid white;
        color: white;
        max-width: 70px;
        margin: 5px 5px;
        &::placeholder{
            color: white;
            font-size: 0.8em;
        }
    }
}
.slider{
    width: 100% !important;
}
#slider-outer-div{
    width: 100%;
    padding: 8px;
    .slider-handle.round{
        background-image: linear-gradient(to bottom, white, white);
        width: 25px !important;
        height: 25px !important;
    }
    .slider-track{
        height: 4px !important;
        margin-top: -1px !important;
    }
}
.date-col-2{
    color: white;
    font-size: 0.9em;
    line-height: 1;
    text-align: center;
    margin: 10px 0;
}
.data{
    margin: 10px 0;
    h2{
        color: white;
        font-size: 1.5em;
        font-weight: 400;
        margin: 0;
        text-align: center;
    }
    p{
        color: #c0c0c0;
        font-size: 0.7em;
        margin: 0;
        text-align: center;
    }
}

// Second column
.col-title{
    min-height: 80px;
    display: flex;
    align-items: center;
}
.title-col-10{
    font-size: 2em;
    font-weight: 600;
    color: white;
    margin: auto 0;
}
.row{
    h3{
        color: white;
        font-size: 1em;
        font-weight: normal;
    }
    .col-6.col-gray{
        width: calc(50% - 1.5rem) !important;
    }
}
// First content (second)
.row-first-content{
    
}
canvas{
    width: 100%;
}

// Second Content
.boxes{
    .light-blue{
        background-color: #6FAEDD;
        height: 50%;
    }
    .dark-blue{
        background-color: #3B5B77;
    }
    .mid-blue{
        background-color: #6F9EDB;
    }
    .mid-green{
        background-color: #317266;
    }
    .dark-green{
        background-color: #315F59;
    }
    .light-green{
        background-color: #4AC5BB;
    }
    .dark-yellow{
        background-color: #FCB714;
        height: 50%;
    }
    .light-yellow{
        background-color: #FEE266;
    }
    .dark-brown{
        background-color: #716557;
    }
    .light-brown{
        background-color: #C4B07B;
    }
    .orange{
        background-color: #F15628;
    }
    .col-5, .col-2{
        .box{
            height: 100%;
        }
    }
    .box{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 5px;
    }
    h4{
        font-size: 0.8em;
        max-width: 100%;
    }
    p{
        font-size: 0.8em;
        margin: 0;
    }
}