@import './global.scss';

body{
    background-color: black;
}
.button-gray{
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1em;
    background-color: #666666;
    color: white;
    margin: 5px 0;
}
.col-gray{
    background-color: $background-color;
    background-size: 100% 100%;
}
.inputs{
    display: flex;
    flex-direction:  row;
}
input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    max-width: 70px;
    margin: 5px 5px;
    &::placeholder{
        color: white;
        font-size: 0.8em;
    }
}